body { background-color: rgb(49, 2, 47); color: rgb(241, 241, 245); margin: 0px;}

h1 {color: rgb(243, 243, 248) ; font-family: arial ; font-size: 28px; text-align: center}
h2 {color: rgb(243, 243, 248) ; font-family: arial ; font-size: 24px; text-align: left}
p {color: rgb(227, 227, 240); font-family: times; font-size: 20px; margin: 20px; padding:10px}
.row {
    display:flex;
    flex-wrap: wrap;
    margin: 10px;
}
.column {
    flex: 1;
    padding: 10px;
}
button { 
    background-color: rgb(211, 83, 223);
    margin-bottom: 40px;
    margin-left: 100px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #521111;
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }
  .imagenes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grettins{
    text-align: center;
  }
@media (max-width: 768px) {
    .column {
    flex: 100%;
    }
    .nav-links {
    display: none;
    }
    .button-menu-toggle {
    display: block;
    background-color: white;
    border:none;
    border-radius: 50px;
    padding: 24px;
    font-family: monospace;
    font-weight: bold;font-size: 20px;
    }
    .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20,20,20,0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap:70px;
    font-size: 40px;
    }
  }
